#header {
  display: flex;
  flex-direction: row;
}

#logo {
    max-width: 2.5rem;
    max-height: 2rem;
    align-items: flex-end;
    padding-right: 1rem;
}

#header a {
    text-decoration: none;
    color: darkslategrey;
    padding: 1rem;
    align-items: baseline;
}


/* To change later, adaptive to small screen sizes */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}