#titleLogo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30%;
    width: 100%;
}

#title {
    flex: 1 1 40%;
    padding: 0 3% 3% 3%;
    font-size: 1.5rem;
    margin: 0;
    height:fit-content;
    flex-wrap: wrap;
}

#IBMMessaging {
    font-size: 3rem;
    flex-wrap: wrap;
}

#MQLogo {
    height: 18rem;
    width: 18rem;
    opacity: 0.9;
}

#welcome {
    font-size: 1.5rem;
}

#startResources {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 2rem;
}

#startMessage {
    text-align: center;
}

#resource {
    flex: 1;
    text-align: center;
    background-color: #f4f4f4;
    box-shadow: 1px 1px 5px #d1d1d1;
    padding: 0 3% 3% 3%;
}

#resource:hover {
}

#resourceTitle {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#path {
    height: 2rem;
    width: 2rem;
    padding-left:0;
    float:left;
}

#pathLink {
    font-size: 1.5rem;
    font-weight: bold;
    color: #161616;
    margin: 5% 0 5% 0;
    text-decoration: none;
}

#resourceHr {
    margin-top: 0%;
}

li {
    text-align: left;
    font-size: 1.2rem;
    padding-top: 2%;
}

#resourceText {
    text-align: start;
}

.pageLink {
    text-align: start;
    color:#0f62fe;
    font-size: 1.2rem;
}

#linkButtons {
    display: flex;
    justify-content: center;
    gap: 3%;
}

/* 
    -------------------------
    Making it mobile friendly
    -------------------------
*/

@media screen and (max-width: 500px) {

    #title {
        align-items: center;
        text-align: center;
    }

    #titleLogo {
        gap: 0;
    }

    #welcome {
        font-size: 1rem;
    }

    #startMessage {
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {

    #MQLogo {
        display: none;
    }

}