@font-face {
  font-family: 'IBMFont'; /* Name your font family */
  src: url('../views/assets/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth\,wght.ttf'); /* Locate the .ttf file within your directory*/
}

body {
    font-family: IBMFont;
}