#header {
  display: flex;
  flex-direction: row;
  padding-top: 0.7rem;
  font-size: 1.2rem;
}

#logo {
    max-width: 2.5rem;
    max-height: 2rem;
    padding-right: 1rem;
    vertical-align: center;
}

#header a {
    text-decoration: none;
    color: darkslategrey;
    padding: 1rem;
    align-items: baseline;
}

cds-header::after {
    background-color: var(--cds-layer-accent-01, #e0e0e0);
    block-size: 1px;
    content: "";
    inline-size: 100vw;
    inset-block-end: -1px;
    inset-inline-start: 0px;
    position: absolute;
}

cds-side-nav-link {
  font-size: 200rem;
  --cds-body-long-02-line-height: 200rem;
}

/* To change later, adaptive to small screen sizes */
@media screen and (max-width: 500px) {
  .headerText {
    display: none;
  }
}