<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/header.css">
</head>
<body>
<div id="header">
    <!-- Navigation Menu -->
    <nav>
        <!-- Logo -->
        <a href="../index.html"><img src="images/logo.png" alt="IBM Logo" id="logo"></a>
        <div id="vl"></div>
        <!--Links-->
        <a href="#">Home</a>
        <a href="#">Learn</a>
        <a href="#">Help</a>
    </nav>
</div>